@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* --- Normal Styles --- */

@font-face {
    font-family: "GT Walsheim Trial";
    src: url("./assets/fonts/GT-Walsheim-Ultra-Light-Trial-BF651b7fc72b236.woff")
        format("woff");
    font-weight: 200; /* Ultra-Light */
    font-style: normal;
}

@font-face {
    font-family: "GT Walsheim Trial";
    src: url("./assets/fonts/GT-Walsheim-Thin-Trial-BF651b7fc728c4c.woff")
        format("woff");
    font-weight: 300; /* Thin / Light */
    font-style: normal;
}

@font-face {
    font-family: "GT Walsheim Trial";
    src: url("./assets/fonts/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.woff")
        format("woff");
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: "GT Walsheim Trial";
    src: url("./assets/fonts/GT-Walsheim-Medium-Trial-BF651b7fc728fb3.woff")
        format("woff");
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: "GT Walsheim Trial";
    src: url("./assets/fonts/GT-Walsheim-Bold-Trial-BF651b7fc737c57.woff")
        format("woff");
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: "GT Walsheim Trial";
    src: url("./assets/fonts/GT-Walsheim-Black-Trial-BF651b7fc736a5b.woff")
        format("woff");
    font-weight: 900; /* Black / Heavy */
    font-style: normal;
}

/* --- Italic (Oblique) Styles --- */

@font-face {
    font-family: "GT Walsheim Trial";
    src: url("./assets/fonts/GT-Walsheim-Regular-Oblique-Trial-BF651b7fc67342f.woff")
        format("woff");
    font-weight: 400; /* Regular Italic */
    font-style: italic;
}

@font-face {
    font-family: "GT Walsheim Trial";
    src: url("./assets/fonts/GT-Walsheim-Bold-Oblique-Trial-BF651b7fc5f06a0.woff")
        format("woff");
    font-weight: 700; /* Bold Italic */
    font-style: italic;
}

@theme {
    --font-walsheim: "GT Walsheim Trial", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-brand-dark-green: "#0D4036";
    --color-brand-lime: "#CCED60";
}
